<!DOCTYPE html>
<html>
<head>
  <title>Vue Starter</title>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  
  <link rel="stylesheet" type="text/css" href="./node_modules/normalize-css/normalize.css">
  <link rel="stylesheet" type="text/css" href="./node_modules/picnic/picnic.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>
<body>

<div class="container">
  <div class="surface transparent" id="app">
  <img class="logo" src="/assets/img/uber.png">
  <label for="weight">Location: {{ radius }} miles</label>
  <input v-model="radius" type="range" id="weight">
  <br>

  <div v-for="user in users" class="list-item">
    <div class="item-content">
      <img v-bind:src="user.image" width="35px" />
      <span>{{ user.first_name }}</span>
      <span>{{ user.location }}</span>
    </div>
  </div>

    
  </div><!-- end surface -->
</div>



<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>