body {
  padding: 100px;
  background: #eee;
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  color: #aba7a7;
  line-height: 1.8em;
}

.container {
  display: flex;
  justify-content: center;
}

.surface {
  text-align: center;
  margin-bottom: 100px;
  background: white;
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
  min-height: 400px;
  width: 400px;
  padding: 1em;
  margin: 0 auto;
}
 a {
  position: relative;
  display: inline-block;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  margin-top:12px;
}
a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-linear-gradient(315deg, #6e8efb, #a777e3);
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 4px;
  -webkit-transition: box-shadow .5s ease, -webkit-transform .2s ease;
  transition: box-shadow .5s ease, -webkit-transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease, -webkit-transform .2s ease;
  will-change: transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
          transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}
a:hover::before {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
a::after {
  position: relative;
  display: inline-block;
  content: attr(data-title);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  font-weight: bold;
  letter-spacing: .01em;
  will-change: transform;
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
  transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
}

